@charset "UTF-8";
@font-face {
  font-family: 'Crimson_textbold';
  src: url("../fonts/Crimsontext/crimsontext-bold-webfont.woff2") format("woff2"), url("../fonts/Crimsontext/crimsontext-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson_textregular';
  src: url("../fonts/Crimsontext/crimsontext-regular-webfont.woff2") format("woff2"), url("../fonts/Crimsontext/crimsontext-regular-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson_textroman';
  src: url("../fonts/Crimsontext/crimsontext-roman-webfont.woff2") format("woff2"), url("../fonts/Crimsontext/crimsontext-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato bold';
  src: url("../fonts/Lato/lato-bold-webfont.woff2") format("woff2"), url("../fonts/Lato/lato-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HanaleiFill-Regular';
  src: url("../fonts/HanaleiFill-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato black';
  src: url("../fonts/Lato/lato-black.woff2") format("woff2"), url("../fonts/Lato/lato-black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato light';
  src: url("../fonts/Lato/lato-light-webfont.woff2") format("woff2"), url("../fonts/Lato/lato-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato regular';
  src: url("../fonts/Lato/lato-regular-webfont.woff2") format("woff2"), url("../fonts/Lato/lato-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icoadc';
  src: url("../fonts/Icons/icoadc.eot?1xqduc");
  src: url("../fonts/Icons/icoadc.eot?1xqduc#iefix") format("embedded-opentype"), url("../fonts/Icons/icoadc.ttf?1xqduc") format("truetype"), url("../fonts/Icons/icoadc.woff?1xqduc") format("woff"), url("../fonts/Icons/icoadc.svg?1xqduc#icoadc") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*='icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icoadc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter .path1:before {
  content: '\e92c';
  color: #1d1d1b;
}

.icon-twitter .path2:before {
  content: '\e92d';
  margin-left: -1em;
  color: white;
}

.icon-twitter-default:before {
  content: '\e92c';
}

.icon-foro-2:before {
  content: '\e92e';
}

.icon-chat:before {
  content: '\e92f';
}

.icon-biblioteca:before {
  content: '\e930';
}

.icon-libro:before {
  content: '\e931';
}

.icon-menu:before {
  content: '\e900';
}

.icon-punto:before {
  content: '\e901';
}

.icon-calendario-2:before {
  content: '\e902';
}

.icon-images:before {
  content: '\e903';
}

.icon-tool:before {
  content: '\e904';
}

.icon-docu:before {
  content: '\e905';
}

.icon-agregar:before {
  content: '\e906';
}

.icon-editar:before {
  content: '\e907';
}

.icon-email-2:before {
  content: '\e908';
}

.icon-calendario:before {
  content: '\e909';
}

.icon-telefono:before {
  content: '\e90a';
}

.icon-email:before {
  content: '\e90b';
}

.icon-ok-doc:before {
  content: '\e90c';
}

.icon-buscar-doc:before {
  content: '\e90d';
}

.icon-perfil:before {
  content: '\e90e';
}

.icon-actualizar:before {
  content: '\e90f';
}

.icon-carrito:before {
  content: '\e910';
}

.icon-cerrar:before {
  content: '\e911';
}

.icon-pregunta:before {
  content: '\e912';
}

.icon-ok:before {
  content: '\e913';
}

.icon-document:before {
  content: '\e914';
}

.icon-link:before {
  content: '\e915';
}

.icon-play:before {
  content: '\e916';
}

.icon-book:before {
  content: '\e917';
}

.icon-mensaje:before {
  content: '\e918';
}

.icon-ayuda:before {
  content: '\e919';
}

.icon-education:before {
  content: '\e91a';
}

.icon-herramientas:before {
  content: '\e91b';
}

.icon-felcha:before {
  content: '\e91c';
}

.icon-buscar:before {
  content: '\e91d';
}

.icon-home:before {
  content: '\e91e';
}

.icon-recurso-1:before {
  content: '\e91f';
}

.icon-facebook:before {
  content: '\e920';
}

.icon-ver-más:before {
  content: '\e921';
}

.icon-ayuda-2:before {
  content: '\e922';
}

.icon-rss:before {
  content: '\e923';
}

.icon-instagram-default {
  content: '\e924';
}

.icon-instagram .path1:before {
  content: '\e924';
  color: #424242;
}

.icon-instagram .path2:before {
  content: '\e925';
  margin-left: -1em;
  color: white;
}

.icon-instagram .path3:before {
  content: '\e926';
  margin-left: -1em;
  color: white;
}

.icon-instagram .path4:before {
  content: '\e927';
  margin-left: -1em;
  color: white;
}

.icon-pinterest:before {
  content: '\e928';
}

.icon-alerta-mail:before {
  content: '\e929';
}

.icon-foros:before {
  content: '\e92a';
}

.icon-chat2:before {
  content: '\e92b';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Lato regular", "Arial Narrow", Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
}

body {
  font-family: "Lato regular", "Arial Narrow", Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #484851;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  color: #484851;
  -webkit-text-decoration-skip: objects;
}

:visited {
  color: #93141a;
}

a:active {
  color: #484851;
}

a:active:not(.button) {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

@media print {
  :link,
  :visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
  }
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
}

h1 {
  font-size: 1.9375rem;
  line-height: 2;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.1875rem;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 0.875rem;
  line-height: 1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 0.8125rem;
  line-height: 1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  text-decoration: underline dotted;
}

@media print {
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
}

b,
strong {
  font-weight: inherit;
}

strong,
b {
  font-weight: bolder;
}


code,
kbd,
samp,
var {
  font-family: Menlo, "DejaVu Sans Mono", "Ubuntu Mono", Courier, "Courier New", monospace, sans-serif;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ffea00;
  color: #484851;
}

small {
  font-size: 0.875rem;
}

sub,
sup {
  font-size: 0.8125rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  margin: 1.5rem 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td,
th {
  padding: 0;
}

/* 
//------------------------------------------------------------------------------
// Slider Homes
//------------------------------------------------------------------------------  
*/
/* ------| Container |----- */
.container-fluid {
  padding: 0;
}

/* ------| Titles |----- */
.pane-title {
  font-family: "Lato black", "Arial Narrow", Helvetica, sans-serif;
  font-size: 2.6875rem;
  color: #484851;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2.55rem;
}

/* ------| Slider Home|----- */
.view-slider-homes li.swiper-slide img {
  width: 100%;
}

@media (min-width: 992px) {
  .view-slider-homes li.swiper-slide img {
    max-height: 619px;
  }
}

.view-slider-homes li.swiper-slide iframe {
  width: 100%;
}

@media (min-width: 992px) {
  .view-slider-homes li.swiper-slide iframe {
    height: 515px;
    max-height: 515px;
  }
}

/* ------| Ubicado Derecha  |----- */
.view-slider-homes .slider-homes-left, .view-slider-homes .slider-homes-right, .view-slider-homes .slider-homes-center {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  padding: 0 1.251rem;
}

@media (min-width: 768px) {
  .view-slider-homes .slider-homes-left, .view-slider-homes .slider-homes-right, .view-slider-homes .slider-homes-center {
    left: 10%;
    right: inherit;
    width: auto;
    max-width: 500px;
    text-align: left;
    margin: 0;
  }
}

.view-slider-homes .slider-homes-left .title-slider-homes, .view-slider-homes .slider-homes-left .slider-homes-right .title-slider-homes, .view-slider-homes .slider-homes-right .slider-homes-left .title-slider-homes, .view-slider-homes .slider-homes-left .slider-homes-center .title-slider-homes, .view-slider-homes .slider-homes-center .slider-homes-left .title-slider-homes, .view-slider-homes .slider-homes-right .title-slider-homes, .view-slider-homes .slider-homes-center .title-slider-homes, .view-slider-homes .slider-homes-right .title-slider-homes, .view-slider-homes .slider-homes-center .title-slider-homes {
  font-family: "Lato regular", "Arial Narrow", Helvetica, sans-serif;
  font-size: 1.1875rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

@media (min-width: 768px) {
  .view-slider-homes .slider-homes-left .title-slider-homes, .view-slider-homes .slider-homes-left .slider-homes-right .title-slider-homes, .view-slider-homes .slider-homes-right .slider-homes-left .title-slider-homes, .view-slider-homes .slider-homes-left .slider-homes-center .title-slider-homes, .view-slider-homes .slider-homes-center .slider-homes-left .title-slider-homes, .view-slider-homes .slider-homes-right .title-slider-homes, .view-slider-homes .slider-homes-center .title-slider-homes, .view-slider-homes .slider-homes-right .title-slider-homes, .view-slider-homes .slider-homes-center .title-slider-homes {
    font-size: 1.5rem;
    text-align: left;
  }
}

.view-slider-homes .slider-homes-left .title-slider-homes:after, .view-slider-homes .slider-homes-left .slider-homes-right .title-slider-homes:after, .view-slider-homes .slider-homes-right .slider-homes-left .title-slider-homes:after, .view-slider-homes .slider-homes-left .slider-homes-center .title-slider-homes:after, .view-slider-homes .slider-homes-center .slider-homes-left .title-slider-homes:after, .view-slider-homes .slider-homes-right .title-slider-homes:after, .view-slider-homes .slider-homes-center .title-slider-homes:after, .view-slider-homes .slider-homes-right .title-slider-homes:after, .view-slider-homes .slider-homes-center .title-slider-homes:after {
  content: '';
  display: block;
  height: 1px;
  border-top: 1px solid #fff;
  position: relative;
  top: 10px;
}

.view-slider-homes .slider-homes-left .body-slider-homes, .view-slider-homes .slider-homes-left .slider-homes-right .body-slider-homes, .view-slider-homes .slider-homes-right .slider-homes-left .body-slider-homes, .view-slider-homes .slider-homes-left .slider-homes-center .body-slider-homes, .view-slider-homes .slider-homes-center .slider-homes-left .body-slider-homes, .view-slider-homes .slider-homes-right .body-slider-homes, .view-slider-homes .slider-homes-center .body-slider-homes, .view-slider-homes .slider-homes-right .body-slider-homes, .view-slider-homes .slider-homes-center .body-slider-homes {
  font-family: "Lato regular", "Arial Narrow", Helvetica, sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  padding: 1.875rem 0;
}

@media (min-width: 768px) {
  .view-slider-homes .slider-homes-left .body-slider-homes, .view-slider-homes .slider-homes-left .slider-homes-right .body-slider-homes, .view-slider-homes .slider-homes-right .slider-homes-left .body-slider-homes, .view-slider-homes .slider-homes-left .slider-homes-center .body-slider-homes, .view-slider-homes .slider-homes-center .slider-homes-left .body-slider-homes, .view-slider-homes .slider-homes-right .body-slider-homes, .view-slider-homes .slider-homes-center .body-slider-homes, .view-slider-homes .slider-homes-right .body-slider-homes, .view-slider-homes .slider-homes-center .body-slider-homes {
    text-align: left;
  }
}

.view-slider-homes .slider-homes-left .link-slider-homes a, .view-slider-homes .slider-homes-right .link-slider-homes a, .view-slider-homes .slider-homes-center .link-slider-homes a {
  display: block;
  max-width: 300px;
  text-align: center;
  text-decoration: none;
  background: #fff;
  color: #484851;
  border: 1px solid #484851;
  margin: 2.1rem auto 0;
  padding: 0.63rem 1.875rem;
}

@media (min-width: 768px) {
  .view-slider-homes .slider-homes-left .link-slider-homes a, .view-slider-homes .slider-homes-right .link-slider-homes a, .view-slider-homes .slider-homes-center .link-slider-homes a {
    float: right;
    margin: 0.315rem auto;
  }
}

.view-slider-homes .slider-homes-left .link-slider-homes a:hover, .view-slider-homes .slider-homes-right .link-slider-homes a:hover, .view-slider-homes .slider-homes-center .link-slider-homes a:hover {
  background: #484851;
  color: #fff;
}

/* ------| Ubicado Izquierda  |----- */
@media (min-width: 768px) {
  .view-slider-homes .slider-homes-right {
    left: inherit;
    right: 10%;
  }
}

@media (min-width: 768px) {
  .view-slider-homes .slider-homes-right .title-slider-homes {
    text-align: right;
  }
}

@media (min-width: 768px) {
  .view-slider-homes .slider-homes-right .body-slider-homes {
    text-align: right;
  }
}

/* ------| Ubicado Centro |----- */
@media (min-width: 768px) {
  .view-slider-homes .slider-homes-center {
    left: inherit;
    right: 30%;
  }
}

@media (min-width: 768px) {
  .view-slider-homes .slider-homes-center .title-slider-homes {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .view-slider-homes .slider-homes-center .body-slider-homes {
    text-align: center;
  }
}

/* ------| Ubicado Abajo |----- */
.view-slider-homes .field-content .slider-homes-bottom {
  padding: 0 15px;
  margin: 1.251rem 0;
}

@media (min-width: 768px) {
  .view-slider-homes .field-content .slider-homes-bottom {
    width: 750px;
    margin: 1.251rem auto 1.251rem;
  }
}

@media (min-width: 992px) {
  .view-slider-homes .field-content .slider-homes-bottom {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .view-slider-homes .field-content .slider-homes-bottom {
    width: 1170px;
  }
}

.view-slider-homes .field-content .slider-homes-bottom .title-slider-homes {
  width: 100%;
  float: left;
  font-family: "Lato bold", "Arial Narrow", Helvetica, sans-serif;
  font-size: 1.1875rem;
  margin: 0.6255rem 0;
  text-transform: uppercase;
  color: #585863;
  min-height: 50px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .view-slider-homes .field-content .slider-homes-bottom .title-slider-homes {
    width: 41.66666667%;
    text-align: right;
    padding-right: 25px;
    padding-bottom: 0;
  }
}

.view-slider-homes .field-content .slider-homes-bottom .body-slider-homes {
  float: left;
  margin: 0;
  font-family: "Crimson_textregular", "Arial Narrow", Helvetica, sans-serif;
  text-align: left;
  color: #585863;
  font-size: 1rem;
  border-top: 1px solid #ebba00;
  padding-top: 15px;
  position: relative;
  min-height: 50px;
}

@media (min-width: 768px) {
  .view-slider-homes .field-content .slider-homes-bottom .body-slider-homes {
    width: 33.33333333%;
    border: 0;
    border-left: 1px solid #ebba00;
    padding-left: 25px;
  }
}

.view-slider-homes .field-content .slider-homes-bottom .link-slider-homes a {
  float: right;
  text-decoration: none;
  margin: 1.251rem 1.251rem 0 auto;
  max-width: 145px;
  border: 1px solid #484851;
  color: #484851;
  padding: 10px 35px;
}

.view-slider-homes .field-content .slider-homes-bottom .link-slider-homes a:hover {
  background: #484851;
  color: #fff;
}

/* ------| Paguinador |----- */
.view-slider-homes .skin-default {
  position: relative;
}

.view-slider-homes .skin-default .views-slideshow-controls-text a[rel='prev'], .view-slider-homes .skin-default .views-slideshow-controls-text a[rel='next'] {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 2%;
  top: 40%;
  font-size: 0;
  background: url("../img/Icon/arrow-slide-prev.png") no-repeat center;
  background-size: 40px 40px;
  z-index: 1;
}

.view-slider-homes .skin-default .views-slideshow-controls-text .views-slideshow-controls-text-pause {
  display: none;
}

.view-slider-homes .skin-default .views-slideshow-controls-text a[rel='next'] {
  left: inherit;
  right: 2%;
  background: url("../img/Icon/arrow-slide-next.png") no-repeat center;
}

.view-slider-homes:hover .views-slideshow-controls-text a[rel='prev'], .view-slider-homes:hover .views-slideshow-controls-text a[rel='next'] {
  display: block;
}

/* 
//------------------------------------------------------------------------------
// Noticias
//------------------------------------------------------------------------------  
*/
.view-componente-noticias {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .view-componente-noticias {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .view-componente-noticias {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .view-componente-noticias {
    width: 1170px;
  }
}

.view-componente-noticias .swiper-slide {
  display: block;
}

.view-componente-noticias .views-row {
  background: #f4f1f1;
  position: relative;
}

.view-componente-noticias .views-row .compo-notias-img {
  border-bottom: 4px solid #e55d12;
}

.view-componente-noticias .views-row .compo-notias-img img {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media (min-width: 992px) {
  .view-componente-noticias .views-row .compo-notias-img img {
    max-height: 167px;
  }
}

.view-componente-noticias .views-row .conten-noticias {
  padding: 1.575rem 1.251rem;
  min-height: 25pc;
}

.view-componente-noticias .views-row .conten-noticias .compo-notias-fecha {
  font-family: "Lato regular", "Arial Narrow", Helvetica, sans-serif;
  font-size: 0.75rem;
  line-height: 1.23;
  margin-bottom: 0.9rem;
  color: #e55d12;
}

.view-componente-noticias .views-row .conten-noticias .compo-notias-titulo {
  font-family: "Crimson_textbold", "Arial Narrow", Helvetica, sans-serif;
  font-size: 1.4375rem;
  line-height: 0.96;
  color: #484851;
  margin: 1.35rem 0 1.563rem;
}

.view-componente-noticias .views-row .conten-noticias .compo-notias-body {
  font-family: "Crimson_textregular", "Arial Narrow", Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.06;
  margin-bottom: 0.6255rem;
}

.view-componente-noticias .views-row .conten-noticias .compo-notias-enlace {
  margin-bottom: 15px;
}

.view-componente-noticias .views-row .conten-noticias .compo-notias-enlace a {
  position: absolute;
  bottom: 9px;
  right: 10px;
  border: 1px solid #e55d12;
  font-family: "Lato light", "Arial Narrow", Helvetica, sans-serif;
  font-size: 15.3px;
  color: #484851;
  text-decoration: none;
  padding: 10px 30px;
  outline: none;
}

.view-componente-noticias .skin-default {
  position: relative;
}

.view-componente-noticias .skin-default .views-slideshow-controls-text a[rel='prev'], .view-componente-noticias .skin-default .views-slideshow-controls-text a[rel='next'] {
  font-size: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: -6%;
  z-index: 10;
  border: 1px solid #777;
  background: url("../img/Icon/arrow_prev.svg") no-repeat center;
  background-size: 40px 40px;
  z-index: 1;
}

.view-componente-noticias .skin-default .views-slideshow-controls-text .views-slideshow-controls-text-pause {
  display: none;
}

.view-componente-noticias .skin-default .views-slideshow-controls-text a[rel='next'] {
  left: inherit;
  right: -6%;
  background: url("../img/Icon/arrow_next.svg") no-repeat center;
}

.view-componente-noticias .views-slideshow-simple-pager {
  text-align: center;
}

.view-componente-noticias .views-slideshow-simple-pager .views-slideshow-pager-field-item {
  padding: 0 5px;
  display: inline-block;
}

.view-componente-noticias .views-slideshow-simple-pager .views-slideshow-pager-field-item a, .view-componente-noticias .views-slideshow-simple-pager .views-slideshow-pager-field-item.active a {
  width: 13px;
  height: 13px;
  font-size: 0;
  display: block;
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: gray;
  padding: 0;
}

.view-componente-noticias .views-slideshow-simple-pager .views-slideshow-pager-field-item.active a {
  background-color: red;
  border: 1px solid red;
}

/*# sourceMappingURL=styles.css.map */
